{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-signin text-center">
    <h1 class="h2 mb-3 font-weight-normal">Gestión de taquilla</h1>
    
    <h2 class="h3 mb-3 font-weight-normal">Acomodación</h2>
    <p>Evento: {{e}}</p>
    <div id="mainAlert" class="alert alert-primary" role="alert">
  Escanea tickets para comprobar su validez
    </div>
    <p>Tickets escaneados</p>
    <ul id="ticketList" class="list-group">

    </ul>
    <button class="btn btn-lg btn-primary btn-block" onClick="submitForm();">Continuar</button>
    <video id="scanner-area"></video>
    <input type="text" id="scanner" placeholder="scanner">

    <div id="formDiv" style="display: hidden;">
    <form action={% url 'accomodate_map' e.id %} method=POST id="accomodateForm">
    <input id="tickets_scanned" name="tickets" value="">
    {% csrf_token %}
    </form>
    </div>

  </div>



<script id="js-data" type="application/json">{"api_url": "{% url 'door_ticket_api' e.id%}", "csrf" : "{{ csrf_token }}", "event_id":"{{e.id}}"}</script>

{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'login.css' %}">


{% endblock %}

{% block customjs %}
<script src="{% static 'js/qr-scanner.umd.min.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>

<script src="{% static 'js/accomodate_scan.js' %}"></script>

{% endblock %}