{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-signin text-center">
    <h1 class="h2 mb-3 font-weight-normal">Venta de entradas</h1>
    
    <h2 class="h3 mb-3 font-weight-normal">Asignación de entradas</h2>
    <p>Pedido de {{order.customer_name}}</p>
    <p>{{num_seats}} asiento{{num_seats | pluralize}} seleccionado{{num_seats | pluralize}}</p>
    <div class="list-group" id="seatsList">
    {% for s in seats %}
<a href="#" id="{{s.local_code}}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    Asiento {{s.local_code}} 
    {% if s.is_assigned %}
    <span class="badge badge-secondary badge-pill" onClick="freeTicket('{{s.local_code}}','{{s.is_assigned}}');">Ticket {{s.is_assigned}} - Liberar</span>
    {% else %}
    <span class="badge badge-primary badge-pill" onClick="showScanner('{{s.local_code}}');">Asignar ticket</span>
    {% endif %}
    </a>
    {% endfor %}

    </br>
    </br>
    <a href="{% url 'order_info' order.id %}"><button class="btn btn-lg btn-primary btn-block" type="submit">Continuar</button></a>

    {% if user.is_staff %}
    <br>
    <button class="btn btn-lg btn-danger btn-block" onClick="generateTickets();">Generar tickets no asignados</button>
    {% endif %}
 
  </div>


<!-- Modal -->
<div class="modal fade" id="scanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Escanea una entrada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="width=100%">
        <video id="scanner-area"></video>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Escanea una entrada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="width=100%">
        Este ticket ya se ha utilizado
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script id="js-data" type="application/json">{"api_url": "{% url 'api_activate' order.id%}", "csrf" : "{{ csrf_token }}"}</script>

{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'login.css' %}">


{% endblock %}

{% block customjs %}
<script src="{% static 'js/qr-scanner.umd.min.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>

<script src="{% static 'js/order_scan.js' %}"></script>

{% if user.is_staff %}

<script>
function generateTickets(){
  const seatsList = document.getElementById("seatsList");
  const generateUrl = "{% url 'pos_generate_ticket_api' %}"
  for (let i=0; i < seatsList.children.length;i++){
    if (seatsList.children[i].innerHTML.includes("Asignar")){
      axios.get(generateUrl)
      .then (function(response){
        console.log(response.data)
        if (response.data.status == "ok"){
          activeSeatCode = seatsList.children[i].id;
          processResult("https://entradas.ruralinfra.com/t/"+response.data.qr_text);
          (async() => {
            await new Promise(r => setTimeout(r, 500));
          })();
          
        }
      })
      .catch(error => console.log(error))
      
    }
  }
}
</script>

{% endif %}

{% endblock %}
