{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-signin text-center">
    <h1 class="h3 mb-3 font-weight-normal">Venta de entradas</h1>

    <p> Hola {{username}}. Actualmente has vendido {{sold_by_user}} entrada{{sold_by_user|pluralize}}. Actualmente debes {{debt}} euros.<p>
    
    <p> Elige el evento a vender </p>
    <div class="list-group">
      {% for e in events %}
      <a href="{% url 'seat_selection' e.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    {{e.name}} <span class="badge badge-primary badge-pill">Quedan {{e.left_tickets}} entradas</span>
    </a>
    {% endfor %}
    </div>
  </div>

{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'login.css' %}">


{% endblock %}