{% extends "base.html" %}
{% load static %}
{% load postags %}

{% block content %}
<div class="form-signin text-center">
    <h1 class="h3 mb-3 font-weight-normal">Venta de entradas</h1>
<table class="tg" onClick="seatClick(event)">
<thead>
  <tr>
    <th class="tg-baqh" colspan="{{ num_columns|add:"1" }}">Escenario</th>
  </tr>
</thead>
<tbody>

{% for row in seat_map %}
<tr>
    {% for seat in row %}
        {% if seat == "E" %}
        <td class="tg-0lax"></td>
        {% elif seat == "A" and forloop.parentloop.first %}
        <td class="tg-0lax" rowspan="{{ num_rows }}">Pasillo</td>
        {% elif seat == "A" %}
        
        {% else %}
        <td class="tg-0lax">
            {% if seat.status == "Blocked" %}
            <img id='{{seat.local_code}}' {% if user.is_staff %} title="{{seat.order.customer_name}} - By {{seat.order.creator}}" {% endif %} src='{% static 'img/booked.png' %}' /></td>
            {% elif seat.status == "Free"%}
            <img id='{{seat.local_code}}' src='{% static 'img/none.png' %}' /></td>
            {% elif seat.status == "Yours"%}
            <img id='{{seat.local_code}}' src='{% static 'img/selected.png' %}' /></td>
            {% endif %}
        {% endif %}
    {% endfor %}
</tr>

{% endfor %}

<script id="js-data" type="application/json">{"event_id": "{{event.id}}"}</script>

</tbody>
</table>
    <a href="{% url 'order_form' event.id %}"><button class="btn btn-lg btn-primary btn-block" type="submit">Continuar</button></a>
    </div>

{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<style>
.tg img{
    width : 1.5em;
    height : 1.5em;
}
</style>

{% endblock %}

{% block customjs %}
<script src="{% static 'js/seat_map.js' %}"></script>

{% endblock %}
